<a href="https://colab.research.google.com/github/andrewchancgc/ISOM3360/blob/main/isom3230_data_mining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
import numpy as np
import sklearn as sk

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
%cd /content/drive/MyDrive/Github/insurance-sale/

/content/drive/MyDrive/Github/insurance-sale

In [ ]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [ ]:
train.head()

   id  Gender  Age  ...  Policy_Sales_Channel  Vintage  Response
0   1    Male   44  ...                  26.0      217         1
1   2    Male   76  ...                  26.0      183         0
2   3    Male   47  ...                  26.0       27         1
3   4    Male   21  ...                 152.0      203         0
4   5  Female   29  ...                 152.0       39         0

[5 rows x 12 columns]

In [ ]:
test.head()

       id Gender  Age  ...  Annual_Premium  Policy_Sales_Channel  Vintage
0  381110   Male   25  ...         35786.0                 152.0       53
1  381111   Male   40  ...         33762.0                   7.0      111
2  381112   Male   47  ...         40050.0                 124.0      199
3  381113   Male   24  ...         37356.0                 152.0      187
4  381114   Male   27  ...         59097.0                 152.0      297

[5 rows x 11 columns]

In [ ]:
!git status

On branch master

No commits yet

Untracked files:
  (use "git add <file>..." to include in what will be committed)

	isom3230_data_mining.ipynb
	sample_submission.csv
	test.csv
	train.csv

nothing added to commit but untracked files present (use "git add" to track)

In [ ]:
!git add .

In [ ]:
!git status

On branch master

No commits yet

Changes to be committed:
  (use "git rm --cached <file>..." to unstage)

	new file:   isom3230_data_mining.ipynb
	new file:   sample_submission.csv
	new file:   test.csv
	new file:   train.csv